services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    networks:
      - wrx_net

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:8000
    depends_on:
      - backend
    networks:
      - wrx_net

networks:
  wrx_net:
    driver: bridge
